@using KidsLogic.Models.DataBase
@model KidsLogic.Models.DataBase.Achievement[]

@{
    ViewData["Title"] = "Достижения";
}

@section Styles
{
    <link href="/css/page.css" rel="stylesheet" type="text/css"/>
}

<h1>Достижения</h1>
<p></p>

<div class="row justify-content-evenly row-cols-1">
    @if (Model.Length > 0)
    {
        @foreach (Achievement achievement in Model)
        {
            <div onclick="" class="col-12 col-md-12 col-xl-12 block-body default-color">
                <h4>@achievement.Name</h4>
                <p class="secondary-text block-name">@achievement.Description</p>
            </div>
        }
    }
    else
    {
        <h3>Пока что список ваших достижений пуст.</h3>
    }
</div>