@model KidsLogic.Models.DataBase.Lesson

<div onclick="location.href='/lessons/@Model.Id/1';" class="col-11 col-md-5 col-xl-4 block-body positive-item-color">
    <p class="main-text block-name text-center">@Model.Name</p>
    <p class="secondary-text">@Model.Description</p>
</div>

