@model KidsLogic.Models.DataBase.Lesson

<div class="col-11 col-md-5 col-xl-4 block-body negative-item-color">
    <p class="main-text block-name text-center">@Model.Name</p>
    <p class="secondary-text">@Model.Description</p>
</div>

