@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>Подтверждение регистрации</h1>
<p></p>

<p class="secondary-text">
    На адрес электронной почты <strong>@ViewData["Email"]</strong> было отправлено письмо с паролем для входа в аккаунт.
    Если не можете найти его, то попробуй обновить ящик несколько раз и заглянуть в папку "Спам".
</p>