@{
    ViewData["Title"] = "Урок еще не готов";
}

<h1>Урок еще не готов</h1>
<p></p>

<p class="secondary-text">Пока что мы не завершили работу над этим уроком, но совсем скоро исправим это!</p>