@{
    ViewData["Title"] = "KidsLogic";
}

<h2>Что это?</h2>
<p class="secondary-text">
    КidsLogic — это первая в России обучающая платформа, направленная на развитие у детей навыков логического мышления.
    Мы обучаем анализу, нахождению причинно-следственных связей и многому другому.
</p>

<h2>Как происходит обучение?</h2>
<p class="secondary-text">
    Обучение происходит в формате подготовленных онлайн-уроков, во время выполнения которых ребенку предстоит изучить
    материал и выполнить приведенные к нему задания. Уроки можно проходить заново, а выученные определения сохраняются 
    в специальном разделе "Словарь".
</p>

<h2>Как приступить к обучению?</h2>
<p class="secondary-text">
    Вам необходимо зарегистрироваться, нажав на соответствующую кнопку выше. Затем на главной странице будет отображена
    вся нужная для начала обучения информация.
</p>